{% extends 'base.html' %}

{% block title %}游戏列表 - {% endblock %}


{% block main %}
    <div class="container mt-3">
        <h3>游戏列表</h3>
        <p>
            {% if games %}
                <ul>
                    {% for key, game_info in games.items() %}
                        <li>
                            <a href="{{ url_for('game', identifier=game_info['identifier']) }}">{{ game_info['name']['zh-Hans'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
    </div>
{% endblock %}

